#form-header {
    display: flex;
    justify-content: space-between;
}

#action-buttons {
    display: flex;
    gap: 15px;
}

#adicionar-ficha {
   margin-top: 2%;
   margin-left: 83%;
}

#add-new-ficha {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 80%;
}

#info-event {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 70%; 
}

#event-inner {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 80%; 
}